{% extends 'includes/baseFile.html' %}
{% load static %}
{% block title %} All Applicant{% endblock %}
{% block style %}
    <style>
        th, .page-link{
            cursor: pointer;
            background-color: transparent;
        }
    </style>
{% endblock %}

{% block heading %} Registered Users {% endblock %}
{% block container %}
    <div class="container">
        <div class="form-outline mb-4">
            <select name="searchBy" id="searchBy" class="col-sm form-control-lg" onchange="typecheck(this.value)">
                <option value="id">Id</option>
                <option value="name">Name</option>
                <option value="designation">Designation</option>
            </select>
            <input type="number" class="form-control-lg col-sm" id="datatable-search-input">
            <i class="btn btn-warning" for="datatable-search-input" id="search-btn">Search</i>
        </div>
        <div id="searchTableDiv">
            <table class="table table-responsive table-info rounded" id="datatable" hidden>
                <h3 id="searchresult" hidden>Search Result</h3>
                <thead class="thead-dark">
                <tr>
                    <th scope="col" name="id">Id</th>
                    <th scope="col" name="name">Name</th>
                    <th scope="col" name="phoneNo">Phone</th>
                    <th scope="col" name="email">Email</th>
                    <th scope="col" name="designation">Designation</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <h3>Data Table</h3>
        <table class="table table-info table-responsive ">
            <thead class="thead-dark">
            <tr>
                <th scope="col" class="th" name="id"><a href="{% url 'JobApp:sort' 'id' %}"  class="text-dark text-decoration-none">Id {% if isSorted == '-id'%} &#8650;{% endif %}</a></th>
                <th scope="col" class="th" name="name"><a href="{% url 'JobApp:sort' 'name' %}"  class="text-dark text-decoration-none">Name {% if isSorted == 'firstname'%} &#8648;{% elif isSorted == '-firstname'%} &#8650;{% endif %}</a></th>
                <th scope="col" class="th" name="phoneNo"><a href="{% url 'JobApp:sort' 'phoneNo' %}" class="text-dark text-decoration-none">Phone {% if isSorted == 'phone'%} &#8648;{% elif isSorted == '-phone'%} &#8650;{% endif %}</a></th>
                <th scope="col" class="th" name="email"><a href="{% url 'JobApp:sort' 'email' %}" class="text-dark text-decoration-none">Email{% if isSorted == 'email'%} &#8648;{% elif isSorted == '-email'%} &#8650;{% endif %}</a></th>
                <th scope="col" class="th" name="designation"><a href="{% url 'JobApp:sort' 'designation' %}" class="text-dark text-decoration-none">Designation {% if isSorted == 'designation'%} &#8648;{% elif isSorted == '-designation'%} &#8650;{% endif %}</a></th>
                <th scope="col">#</th>
                <th scope="col">#</th>
            </tr>
            </thead>
            <tbody>
                {% for row in context %}
                <tr>
                    <td class="fw-bold">{{row.id}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.phoneNo}}</td>
                    <td>{{row.email}}</td>
                    <td>{{row.designation}}</td>
                    <td><a href="{% url 'JobApp:edit' row.id %}" class="btn btn-info text-dark text-decoration-none">Edit</a></td>
                    <td><a  href="{% url 'JobApp:delete' row.id %}" class="btn btn-danger text-dark text-decoration-none">Delete</a></td>
                  </tr>
                  {% endfor %}
            </tbody>
        </table>
        
        <nav class="flex-column w-100">
            <ul class="pagination pagination">

                <span style="display: flex;">
                    {% if context.has_previous %}
                        <a class="page-link" href="?page=1">&laquo; first</a>
                        <a class="page-link" href="?page={{ context.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current p-2">
                        Page {{ context.number }} of {{ context.paginator.num_pages }}
                    </span>
                    {% if context.has_next %}
                        <a class="page-link" href="?page={{ context.next_page_number }}">next</a>
                        <a class="page-link" href="?page={{ context.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </ul>
          </nav>
    </div>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{% static 'js/scriptGrid.js' %}"></script>
{% endblock %}