{% extends 'includes/baseFile.html' %}

{% block style %}
<style>
    .formLong label{
        max-width: 83px;
        display: inline-block;
        word-wrap: break-word;
    }
    #ReferenceForm .table input{
        margin-right: 90px;
    }
</style>
{% endblock %}
{% block title %} Job Application Form {% endblock %}
{% block heading %} Job Application Form {% endblock %}
{% block container %} 
<form class="container-fluid" method="POST" onsubmit="return validateThePage()" action="{% if id %} {%url 'JobApp:update' id %} {% else %} {%url 'JobApp:Apply' %} {% endif %}">
    {% csrf_token %}
    <input type="number" value="{{id}}" name="nonematter" id="nonematter" hidden>
    <div class="panel panel-default">
        <div class="panel-heading" id="FieldSetTitle">Basic Detail</div>
        <div class="panel-body table" id="DataForm{{forloop.counter}}">
            <div class="table">
                <div class="row">
                {%for element in form.0%}
                    <label class="col-4 mx-1" for="{{element.name}}">{{element.label}} : </label>
                    {%if element.name == 'city' %}
                        <select class="col-sm form-control mx-1" name="{{element.name}}" id="id_city">
                            <option value="">---------</option>
                        </select>
                    {% elif element.html_name == 'dob' %}
                        <input type="date" class="col-sm form-control mx-1" name="{{element.name}}" id="id_{{element.name}}">
                    {%else%}
                        {{element}}
                    {%endif%}
                    <i class="text-danger text-center" id="{{element.name}}_error"></i>
                {%endfor%}
                </div>
            </div>
        </div>
    </div> {# BASIC DETAIL #}
    <div class="panel panel-default">
        <div class="panel-heading">Education Detail</div>
        <div class="panel-body table" id="EducationForm">
            <div class="table">
                <div>
                {% for element in form.1 %}
                   <i class="col">
                    <label class="col-sm mx-2" for="{{element.name}}">{{element.label}} : </label>
                    {%if element.name == 'passingyear' %}
                        <input type="date" class="col-sm my-1 mx-3 " name="{{element.name}}" id="id_{{element.name}}">
                    {% else %}
                        {{element}}
                    {% endif %}
                </i>
                {% endfor %}
                <li class="btn btn-info bg-info py-10" name='btn' id="1" onclick="AddForm(this.id, 'EducationForm')">ADD</li>
            </div>
            {% for element in form.1 %}
                <i class="col-sm">
                    <i class="text-danger text-center" style="min-width: 866px; margin-left: 68px;" id="{{element.name}}_error"></i>
                </i>
            {%endfor%}
            </div>
        </div>
    </div> {# EDUCATION DETAIL #}
    <div class="panel panel-default">
        <div class="panel-heading">Experience Detail</div>
        <div class="panel-body table" id="ExperienceForm">
            <div class="table">
                {%for element in form.2%}
                    <label class="col-sm mx-2" for="{{element.name}}">{{element.label}} : </label>
                    {%if element.html_name == 'from_date' or element.html_name == 'to_date' %}
                        <input type="date" class="col-sm my-1 " name="{{element.name}}" id="id_{{element.name}}">
                    {%else%}
                        {{element}}
                    {%endif%}
                {%endfor%}
                <li class="btn btn-info bg-info py-10" name='btn' id="1" onclick="AddForm(this.id, 'ExperienceForm')">ADD</li>
            </div>
            {% for element in form.2 %}
            <i class="col-sm">
                <i class="text-danger text-center px-xxl-5" style="min-width:  866px; margin-left: 68px;" id="{{element.name}}_error"></i>
            </i>
            {%endfor%}
        </div>
    </div> {# EXPERIENCE DETAIL #}
    <div class="row justify-content-between" id="Languages">
        <div class="panel-default panel p-0" style="width: 45%;">
            <div class="panel-heading">Known Language</div>
            <div class="panel-body table" id="LanguageForm">
                <div class="table">
                    <div class="row">
                    {% for element in form.3 %}
                        <div class="col-5 my-10">
                            <label class="form-label" for="{{element}}">{{element}}</label>
                            <input type="checkbox" name="language" value="{{element.id}}" id="{{ forloop.counter }}">
                        </div>
                        <div class="col-5">
                            <input type="checkbox" class="mx-2" value="read_{{element.id}}" name="expertise" id="read_{{element.id}}">Read
                            <input type="checkbox" class="mx-2" value="write_{{element.id}}" name="expertise" id="write_{{element.id}}">Write
                            <input type="checkbox" class="mx-2" value="speak_{{element.id}}" name="expertise" id="speak_{{element.id}}">Speak
                        </div>
                    {%endfor%}
                    </div>
                </div>
            </div>   
            <i class="text-danger text-center mx-5" id="language_error"></i>             
        </div> 
        <div class="panel-default panel p-0" style="width: 45%;">
            <div class="panel-heading">Known Tech Language</div>
            <div class="panel-body table" id="TechlangForm">
                <div class="table">
                    <div class="row">
                    {% for element in form.4 %}
                    <div class="col-5 my-10">
                        <label class="form-label" for="{{element}}">{{element}}</label>
                        <input type="checkbox" class="" name="techLanguage" value="{{element.id}}" id="{{ forloop.counter }}">
                    </div>
                    <div class="col-5">
                        <input type="radio" class="mx-2" name="{{element.id}}" value="Beginner" id="Beginner_{{element.id}}">Beginner
                        <input type="radio" class="mx-2" name="{{element.id}}" value="Mediator" id="Mediator_{{element.id}}">Mediator
                        <input type="radio" class="mx-2" name="{{element.id}}" value="Expert" id="Expert_{{element.id}}">Expert
                    </div>
                    {%endfor%}
                    </div>
                </div>
            </div>     
            <i class="text-danger text-center mx-5" id="techLanguage_error"></i>             
        </div> 
    </div> {# LANGUAGES DETAIL #}
    <div class="panel panel-default">
        <div class="panel-heading">Reference Detail</div>
        <div class="panel-body table" id="ReferenceForm">
                <div class="table">
                {{form.5}}
                <li class="btn btn-info bg-info py-10" name='btn' id="1" onclick="AddForm(this.id, 'ReferenceForm')">ADD</li>
            </div>
            {% for element in form.5 %}
            <i class="col-sm">
                <i class="text-danger text-center px-xxl-5" style="min-width: 500px; margin-left: 10px;" id="{{element.name}}_error"></i>
            </i>
            {%endfor%}
        </div>
    </div> {# REFERENCE DETAIL #}
    <div class="panel panel-default">
        <div class="panel-heading">Preference Detail</div>
        <div class="panel-body table">
            <div class="table formLong">
                {{form.6}}
            </div>
            {% for element in form.6 %}
            <i class="col-sm">
                <i class="text-danger text-center px-xxl-5" style="min-width: 500px; margin-left: 10px;" id="{{element.name}}_error"></i>
            </i>
            {%endfor%}
        </div>
    </div> {# PREFERENCE DETAIL #}

    <div class="col mx-auto" style="width: 100px;">
        <button type="submit"class="btn btn-primary position-relative">Apply</button>
    </div>
</form>
{% endblock %}
{% load static %}
{% block script %}
    <script type="text/javascript"src="{% static 'js/script.js' %}"></script>
{% endblock %}