<!DOCTYPE html>
<html lang="en">
    <head>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous">

        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
            integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
            crossorigin="anonymous"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>User Details</title>
    </head>
    <body>
        {%include 'Navbar.html' %}
        <div class="container">
            <div class="row header" style="text-align:center;color:green">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">
                                <a href="{% url 'JobForm:sort' 'id' %}" class="text-decoration-none text-black">
                                    ID {%if isSorted == '-id'%}&#8650;{%endif%} 
                                </a>
                            </th>
                            <th scope="col">
                                <a href="{% url 'JobForm:sort' 'firstName' %}" class="text-decoration-none text-black">
                                    First Name {%if isSorted == 'firstName'%} &#8648;{%endif%} {%if isSorted == '-firstName'%} &#8650;{%endif%} 
                                </a>
                            </th>
                            <th scope="col">
                                <a href="{% url 'JobForm:sort' 'lastName' %}" class="text-decoration-none text-black">
                                    Last Name {%if isSorted == 'lastName'%} &#8648;{%endif%} {%if isSorted == '-lastName'%} &#8650;{%endif%} 
                                </a>
                            </th>
                            <th scope="col">
                                <a href="{% url 'JobForm:sort' 'email' %}" class="text-decoration-none text-black">
                                    Email Name {%if isSorted == 'email'%} &#8648;{%endif%} {%if isSorted == '-email'%} &#8650;{%endif%} 
                                </a>
                            </th>
                            <th scope="col">
                                <a href="{% url 'JobForm:sort' 'phoneNumber' %}" class="text-decoration-none text-black">
                                    Phone Number {%if isSorted == 'phoneNumber'%} &#8648;{%endif%} {%if isSorted == '-phoneNumber'%} &#8650;{%endif%} 
                                </a>
                            </th>
                            <th scope="col">
                                <a href="{% url 'JobForm:sort' 'dob' %}" class="text-decoration-none text-black">
                                    Date of birth {%if isSorted == 'dob'%} &#8648;{%endif%} {%if isSorted == '-dob'%} &#8650;{%endif%} 

                                </a>
                            </th>
                            <th scope="col">#</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for x in userData%}
                        <tr>
                            <td scope="col">{{x.id}}</td>
                            <td scope="col">{{x.firstName}}</td>
                            <td scope="col">{{x.lastName}}</td>
                            <td scope="col">{{x.email}}</td>
                            <td scope="col">{{x.phoneNumber}}</td>
                            <td scope="col">{{x.dob}}</td>
                            <td scope="col">
                                <a
                                    class="btn btn-primary"
                                    href="{% url 'JobForm:edit' x.id %}">Edit</a>
                            </td>
                            <td scope="col">
                                <a
                                    class="btn btn-danger"
                                    href="{% url 'JobForm:delete' x.id %}">Delete</a>
                            </td>
                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
    </div>
    </body>
</html>